POSTGRES_PASSWORD=mypostgrespassword
POSTGRES_USER=postgres
POSTGRES_DATABASE=postgres
POSTGRES_HOST=postgres
SSL_ADMIN_EMAIL=name@esciencecenter.nl
SSL_DOMAINS=www.domain.com
SSL_FORWARD=http://nginx:80
